<div *ngIf="user">
  <div class="col-md-5">
    <h2 class="page-header">{{user.name}}</h2>
    <ul class="list-group">
      <li class="list-group-item">Username: {{user.username}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
      
    </ul>
  </div>
  <div class="col-md-5">
    <h3 class="page-header">Last Five Expenses</h3>
    <ul class="list-group" *ngFor="let ex of user.expenses | slice:0:5; let i=index"  >
      <li class="list-group-item" *ngIf="i < 11">Category: {{ex.category}}</li>
      <li class="list-group-item" *ngIf="i < 11">Amount: {{ex.amount}}</li>
      <li class="list-group-item" *ngIf="i < 11">Date: {{ex.date}}</li>
    </ul>
  </div>
</div>