<div class="jumbotron text-center">
  <h1>Budget Buddy</h1>
  <p class="lead">Welcome to Budget Buddy! Use me to get a handle on all those expenses.</p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a> <a [routerLink]="['/login']" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Goals</h3>
    <p>Set financial goals and we'll help keep track of where you are.</p>
  </div>
  <div class="col-md-4">
      <h3>Track Expenses</h3>
      <p>Enter in how much you spent and what on to see where your money is going.</p>
  </div>
  <div class="col-md-4">
      <h3>Reports</h3>
      <p>Visualizing where your money is going is important to success.</p>
  </div>
</div>